version: "3.9"

services:
  api:
    build: .
    container_name: btg-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=docker
      - MONGO_URI=mongodb://mongo:27017/btg-pactual-backend
      - JWT_SECRET=super-secret-key
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: btg-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
